<% layout('layout') -%> 
<div class="main-panel">
    <div class="container">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">Dashboard</h2>
                        <h5 class="text-white op-7 mb-2">Premium Bootstrap 4 Admin Dashboard</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-inner mt--5">
            <div class="row mt--2">
              
                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="">
                                <% if(success !== ""){ %>
                                    <% success.forEach((item)=>{ %>
                                        <div class="alert alert-success" role="alert">
                                            <strong>Well done!</strong> <%- item%>
                                        </div>
                                    <% })%>
                                <% } %>
                                <% if(errors !== ""){ %>
                                    <% errors.forEach((item)=>{ %>
                                        <div class="alert alert-danger" role="alert">
                                            <strong>Well done!</strong> <%- item%>
                                        </div>
                                    <% })%>
                                <% } %>

                                <div class="client-container">
                                    <div class="client hide">
                                        <div style="overflow-x: scroll;height:20px;" id="datalogs">
                                            <center>
                                                <ul class="logs" style=""></ul>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="formhide2">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="card-title">Broadcast Whats Up Text Only</div>
                            <div class="">
                             
                                <form method="POST" id="myForm" action="/send-broadcastwa">
                                    
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Pengirim</label>
                                        <select class="form-control" id="sender" required name="sender" > 
                                        </select>
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Number Handphone </label>
                                      <input type="text" class="form-control" required id="number" name="number" placeholder="082165561175,082165561175" >
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputPassword1">Text Message</label>
                                      <textarea class="form-control" name="message" required id="message" ></textarea>
                                    </div>
                                    <div class="form-check">
                                        <button id="btnSave" class="btn btn-primary">Kirim</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" id="formhide">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="card-title">Broadcast Whats Up White Excel</div>
                            <div class="">
                             
                                <form method="POST" id="myForm" action="/send-broadcast-excel" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Pengirim</label>
                                        <select class="form-control" id="sender2"  name="sender" > 
                                        </select>
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Number Handphone File Excel</label>
                                      <input type="file" class="form-control"  id="number" name="filename">
                                      <small>Download Layout Upload <a target="blank" href="/excel/layout.xlsx">Link Download</a></a></small>
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputPassword1">Text Message</label>
                                      <textarea class="form-control" name="message" id="message" ></textarea>
                                    </div>
                                    <div class="form-check">
                                        <button id="btnSave" type="submit" class="btn btn-primary">Kirim</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> 
               
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="#">ThemeKita</a>
            </div>				
        </div>
    </footer>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
       $(document).ready(function() {
            var socket = io();
            var myDate = new Date().toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1");
            socket.on('broadcastwa', function(data) {
                console.log(data);
                setTimeout(() => $(`#formhide`).hide(), 1000);
                setTimeout(() => $(`#formhide2`).hide(), 1000);
                setTimeout(() => $(`.alert`).hide(), 2000);
                setTimeout(() => $("#datalogs").css("height",300),5000);
                if(data.type==='success'){
                    $(`.logs`).append($('<li style="display:block;color:green;">').html(data.id+' - '+data.text+' | '+myDate+' <i class="fa fa-check" aria-hidden="true"></i>'));
                }else if(data.type==='warning'){
                    $(`.logs`).append($('<li style="display:block;color:red;">').html(data.id+' - '+data.text+' | '+myDate+' <i class="fa fa-times-circle" aria-hidden="true"></i>'));
                }else{
                    $(`.logs`).append($('<li style="display:block;color:red;">').html(data.id+' - '+data.text+' | '+myDate+' <i class="fa fa-whatsapp" aria-hidden="true"></i>'));
                }
            });
        });

    $.ajax({
		type: 'GET',
		url: '/sendwa/listSender',
		dataType: 'json',
		success: function (d) {
			var newOptions = {};
			newOptions['-- Pilih --'] = '';
			for (var index = 0; index < d.data.length; index++) {
				var option = d.data[index].id;
				var value = d.data[index].id;
				newOptions[option] = value;
			}
			var $el = $("#sender");
			// $el.empty(); // remove old options
			$.each(newOptions, function(key,value) {
			$el.append($("<option></option>")
				.attr("value", value).text(key));
			});
			// console.log(JSON.stringify(newOptions));
		},error:function(){ 
			// console.log(d);
		}
	});
    $.ajax({
		type: 'GET',
		url: '/sendwa/listSender',
		dataType: 'json',
		success: function (d) {
			var newOptions = {};
			newOptions['-- Pilih --'] = '';
			for (var index = 0; index < d.data.length; index++) {
				var option = d.data[index].id;
				var value = d.data[index].id;
				newOptions[option] = value;
			}
			var $el = $("#sender2");
			// $el.empty(); // remove old options
			$.each(newOptions, function(key,value) {
			$el.append($("<option></option>")
				.attr("value", value).text(key));
			});
			// console.log(JSON.stringify(newOptions));
		},error:function(){ 
			// console.log(d);
		}
	});
     $(function() {
        var txt = $("input#client-id");
        var func = function() {
            txt.val(txt.val().replace(/\s/g, ''));
            txt.val(txt.val().replace(/[^a-zA-Z0-9@]+/, 'a'));
        }
         txt.keyup(func).blur(func);
    });

    function hapus(id){
        var id = $(id).data("id");
        alert(id)
        var socket = io();
        socket.emit('delete-session',{
            id: id
        });
    }


</script>