<% layout('layout') -%> 
<div class="main-panel">
    <div class="container">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">Dashboard</h2>
                        <h5 class="text-white op-7 mb-2">Premium Bootstrap 4 Admin Dashboard</h5>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="page-inner mt--5">
            <div class="row mt--2">
                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="card-title">Docs Use Api Send Message</div>
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                                <mark>
                                    Url : http://localhost:3000/api-v1/send-message<br>
                                    
                                </mark>
                                <br>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="../images/message.png" style="width: 100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="card-title">Docs Use Api Send Message Media</div>
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                                <mark>
                                    Url : http://localhost:3000/api-v1/send-media<br>
                                    
                                </mark>
                                <br>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="../images/media.png" style="width: 100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="card-title">Docs Use Api Send Message Media -URL</div>
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                                <mark>
                                    Url : http://localhost:3000/api-v1/send-media-url<br>
                                    
                                </mark>
                                <br>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="../images/mediaUrl.png" style="width: 100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="card-title">Docs Use Api Send Message Group media-URL</div>
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                                <mark>
                                    Url : http://localhost:3000/api-v1/send-group-message<br>
                                    
                                </mark>
                                <br>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="../images/groups.png" style="width: 100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="#">ThemeKita</a>
            </div>				
        </div>
    </footer>
</div>